<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main_layout">

<th:block layout:fragment="html_head">
    <title>검색 결과</title>
</th:block>

<th:block layout:fragment="content_body">
    <div class="container">
        <table th:each="leaguePosition : ${leaguePositions}" class="table table-bordered">
            <colgroup>
                <col width="25%">
                <col width="25%">
                <col width="25%">
                <col width="25%">
            </colgroup>
            <tbody>
            <tr>
                <td rowspan="4">
                    <div align="center"> <img th:src="@{'/images/'+${leaguePosition.tier}+'.png'}"></div>
                    <br>
                    <div class="text-center" th:text="${leaguePosition.tier} + ' ' + ${leaguePosition.rank}"></div>
                    <div class="text-center" th:if="${leaguePosition.tier != 'unranked'}" th:text="${leaguePosition.leaguePoints}"></div>
                </td>

                <td class="text-center" th:text="${leaguePosition.playerOrTeamName}"></td>
                <td>챔피언</td>
                <td>선호포지션</td>
            </tr>
            <tr>
                <td class="text-center" th:text="${leaguePosition.queueType}"></td>
                <td>Kaitlyn</td>
                <td rowspan="3">AD Carry</td>
            </tr>
            <tr>
                <td class="text-center" th:text="${'승리한 게임 수 : '+leaguePosition.wins}"></td>

                <td>Ezreal</td>
            </tr>
            <tr>
                <td class="text-center" th:text="${'패배한 게임 수 : '+leaguePosition.losses}"></td>
                <td>Ashe</td>
            </tr>
            </tbody>
        </table>
        <button class="btn btn-primary" onclick="">전적 갱신</button>


        <div th:if="${type == 'single'}" class="row">
            <div class="col">
                <div th:each="match : ${matches}">
                    <table class="table table-hover table-dark float-lg-right">
                        <thead>
                        </thead>
                        <tbody>
                        <tr>
                            <td rowspan="5" class="align-middle"><div class="text-center" th:text="${match.role}"></div><div class="text-center" th:text="${match.win}"></div></td>
                            <!--<td rowspan="5" class="align-middle" align="center"><img class="img-circle justify-center" style="border-radius: 50%;" th:src="@{'/images/'+${match.champion.name}+'.png'}"><div class="text-center" th:text="${match.champion.name}"></div> </td>-->
                            <td rowspan="5" class="align-middle text-center">
                                <div th:text="${match.kills}+'/'+${match.deaths}+'/'+${match.assists}"></div>
                                <div th:text="'평점 : '+${(match.kills + match.assists)*1.0/match.deaths}"></div>
                            </td>
                            <!--<td th:text="${players[0].summonerName}"></td>-->
                            <!--<td th:text="${players[5].summonerName}"></td>-->
                            </div>
                        </tr>
                        <!--<tr>-->
                            <!--<td th:text="${players[1].summonerName}"></td>-->
                            <!--<td th:text="${players[6].summonerName}"></td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td th:text="${players[2].summonerName}"></td>-->
                            <!--<td th:text="${players[7].summonerName}"></td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td th:text="${players[3].summonerName}"></td>-->
                            <!--<td th:text="${players[8].summonerName}"></td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td th:text="${players[4].summonerName}"></td>-->
                            <!--<td th:text="${players[9].summonerName}"></td>-->
                        <!--</tr>-->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</th:block>