<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main_layout">

<th:block layout:fragment="html_head">
    <title>검색 결과</title>
</th:block>

<th:block layout:fragment="content_body">
    <div class="container">
        <table class="table table-hover table-dark float-lg-right" th:each="leaguePositions : ${leaguePositionsResult}">
            <colgroup>
                <col width="25%">
                <col width="25%">
                <col width="25%">
                <col width="25%">
            </colgroup>
            <tbody>
            <tr>
                <tb>
                    <table class="table table-hover table-dark float-lg-right">
                        <tbody>
                        <tr>
                            <td rowspan="4">
                                <div align="center"> <img th:src="@{'/images/'+${leaguePositions[0].tier}+'.png'}"></div>
                                <br>
                                <div class="text-center align-middle" th:text="${leaguePositions[0].tier} + ' ' + ${leaguePositions[0].rank}"></div>
                                <div class="text-center align-middle" th:if="${leaguePositions[0].tier != 'unranked'}" th:text="${leaguePositions[0].leaguePoints}"></div>
                            </td>
                            <td class="text-center align-middle" th:text="${leaguePositions[0].playerOrTeamName}"></td>
                            <td rowspan="4">
                                <div align="center"> <img th:src="@{'/images/'+${leaguePositions[1].tier}+'.png'}"></div>
                                <br>
                                <div class="text-center align-middle" th:text="${leaguePositions[1].tier} + ' ' + ${leaguePositions[1].rank}"></div>
                                <div class="text-center align-middle" th:if="${leaguePositions[1].tier != 'unranked'}" th:text="${leaguePositions[1].leaguePoints}"></div>
                            </td>
                            <td class="text-center align-middle" th:text="${leaguePositions[1].playerOrTeamName}"></td>
                        </tr>
                        <tr>
                            <td class="text-center align-middle" th:text="${leaguePositions[0].queueType}"></td>
                            <td class="text-center align-middle" th:text="${leaguePositions[1].queueType}"></td>
                        </tr>
                        <tr>
                            <td class="text-center align-middle" th:if="${leaguePositions[0].tier != 'unranked'}" th:text="${'승리한 게임 수 : '+leaguePositions[0].wins}"></td>
                            <td class="text-center align-middle" th:unless="${leaguePositions[0].tier != 'unranked'}" th:text="'승리한 게임 수 : -'"></td>
                            <td class="text-center align-middle" th:if="${leaguePositions[1].tier != 'unranked'}" th:text="${'승리한 게임 수 : '+leaguePositions[1].wins}"></td>
                            <td class="text-center align-middle" th:unless="${leaguePositions[1].tier != 'unranked'}" th:text="'승리한 게임 수 : -'"></td>
                        </tr>
                        <tr>
                            <td class="text-center align-middle" th:if="${leaguePositions[0].tier != 'unranked'}" th:text="${'패배한 게임 수 : '+leaguePositions[0].losses}"></td>
                            <td class="text-center align-middle" th:unless="${leaguePositions[0].tier != 'unranked'}" th:text="'패배한 게임 수 : -'"></td>
                            <td class="text-center align-middle" th:if="${leaguePositions[1].tier != 'unranked'}" th:text="${'패배한 게임 수 : '+leaguePositions[1].losses}"></td>
                            <td class="text-center align-middle" th:unless="${leaguePositions[1].tier != 'unranked'}" th:text="'패배한 게임 수 : -'"></td>
                        </tr>
                        </tbody>
                    </table>
                </tb>
            </tr>
            </tbody>
        </table>
        <form id="sendParams" method="post" action="/records/result">
            <input type="hidden" name="type" th:value="${type}">
            <input type="hidden" name="summoner" th:value="${summoner}">
            <button style="margin-bottom: 15px" th:if="${type == 'single'}" class="btn btn-primary" onclick="refresh()">전적 갱신</button>
        </form>
        <div th:if="${type == 'single'}" class="row">
            <div class="col">
                <div th:each="match, matchIter : ${matches}">
                    <table class="table table-hover table-dark">
                        <thead>
                        </thead>
                        <tbody>
                        <tr>
                            <td rowspan="5" class="align-middle" style="width: 20%"><div class="text-center align-middle" th:text="${match.role}"></div><div class="text-center align-middle" th:text="${match.win}"></div></td>
                            <td rowspan="5" class="align-middle" style="width: 20%"align="center"><img class="img-circle justify-center" style="border-radius: 50%;" th:src="@{'/images/'+${match.champion.name}+'.png'}"><div class="text-center align-middle" th:text="${match.champion.name}"></div> </td>
                            <td rowspan="5" class="text-center align-middle" style="width: 20%">
                                <div th:text="${match.kills}+'/'+${match.deaths}+'/'+${match.assists}"></div>
                                <div th:text="'평점 : '+${#numbers.formatDecimal((match.kills + match.assists)*1.0/match.deaths,1,2)}"></div>
                            </td>
                            <td class="text-center align-middle" style="width: 40%">
                                <div class="col">
                                    <table class="table-borderless" th:each="playersList, playersIter : ${playersListResult}">
                                        <tbody>
                                        <tr th:if="${playersIter.index < 5}">
                                            <td style="width: 200px" class="align-middle"><span class="justify-content-center" th:text="${playersList[playersIter.index+matchIter.index*10].summonerName}"></span></td>
                                            <td style="width: 200px" class="align-middle"><span class="justify-content-center" th:text="${playersList[playersIter.index+matchIter.index*10+5].summonerName}"></span></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <button style="margin-bottom: 15px" class="btn btn-primary btn-lg btn-block">더 보기</button>
    </div>
</th:block>

<th:block layout:fragment="footer_script">
    <script>
        function refresh(){
            document.getElementById("sendParams").click();
        }
    </script>
</th:block>