<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main_layout">

<th:block layout:fragment="html_head">
    <title>전적 조회</title>
</th:block>
<th:block layout:fragment="content_body">
    <button style="width: 100px" type="button" class="btn btn-secondary">Single</button>
    <button style="width: 100px" type="button" class="btn btn-primary">Multi</button>

    <form method="post" action="/records">
        <div class="input-group input-group-lg">
            <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
            <div class="input-group-prepend">
                <input type="submit" class="input-group-text" id="inputGroup-sizing-lg" value="Search">
            </div>
        </div>
        </div>
    </form>
</th:block>
</html>